<div class="app-info">
  <div class="app-info__description">
    <div class="app-info__title">
      <div class="brown">Самая вкусная пицца в мире</div>
      <div class="yellow">только в Pizza Cheff</div>
    </div>
    <div class="app-info__items">
      <app-info-item
        title="лучшее тесто"
        description="Мы создаем тесто только из отборной итальянской муки наивысшего качества"
        icon="../../../assets/icons/icons8-пшеница-48.png"
      ></app-info-item>
      <app-info-item
        title="лучшие повара"
        description="Пиццы готовят самые профессиональные итальянские повара"
        icon="../../../assets/icons/icons8-колпак-шеф-повара-64.png"
      ></app-info-item>
      <app-info-item
        title="гарантия качества"
        description="Наша пиццерия получила ножество наград и признаний по всему миру"
        icon="../../../assets/icons/icons8-гарантия-64.png"
      ></app-info-item>
      <app-info-item
        title="отборные рецепты"
        description="Мы используем рецепты от мировых идеров в изготовлении пиццы"
        icon="../../../assets/icons/icons8-обед-64.png"
      ></app-info-item>
    </div>
    <app-button text="Выбрать пиццу"></app-button>
  </div>
  <div class="app-info__image">
    <img
      class="app-info__img"
      src="https://staticy.dominospizza.ru/api/medium/ProductOsg/Web/PEPERANC/NULL/NULL/RU"
      alt="pizza"
    />
  </div>
</div>
